body{
    margin: 0;
    padding: 0;
}

.main_header{
    background-color: #2b2929;
    font-family: sans-serif;
    padding: 10px;
}

.main_navigation{
    font-size: 16px;
 
}

.main_list{
    display: flex;
    justify-content:start;
    list-style-type: none;
}

.main_list_items a{
    text-decoration: none;
    margin: 0 5px;
    color: white;
    text-transform: uppercase;
}

.main_list_items a:active,
.main_list_items a.active{
    color: grey;
}

.shop_content{
    padding: 20px 40px;
    
}

.shop_header_text{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

.error_header_text{
    font-size: 30px;
    padding: 20px;
    text-align: center;
}