doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{newTitle}
        <link rel="stylesheet" href="/css/404.css">
        block styles
    body 
        header.main_header
            nav.main_navigation
                ul.main_list
                    li.main_list_items
                        a(href="/", class=(path === 'Route_to_shop' ? 'active' : '' )) shop 
                    li.main_list_items
                        a(href="/admin/Add_products", class=(path === 'Dynamically_choicing_routes' ? 'active' : '' ))  Add Product
                            
        block content 

